.about-container{
    height: 500px;
    width: 90%;
    margin: 50px auto;
    display: flex;
}

.img-about{
    height: 500px;
    width: 300px;
    margin-right: 50px;
}

.info-about{
    margin: auto;
}

.info-about>h2{
    text-align: center;
}