nav{
    /* height: 50px; */
    margin: auto;
    height: auto;
    border-bottom: 1px solid black;
    width: 95%;
}

.header-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.logo{
    margin: 10px auto;
    display: flex;    
}

img{
    width: 82px;
    height: 80px;
}

p{
    font-family: 'Comfortaa';   
    font-size: 28.4444px;
    line-height: 32px;   
}

a{
    margin: 25px;
    font-family: 'Montserrat';  
    font-weight: 700;
    font-size: 100%;
    line-height: 24px;  
    text-decoration: none;    
}

.izq{
    margin: auto;
}

.der{
    margin: auto;
}

.burguer-menu div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
}

.burguer-menu{
    cursor: pointer;
    margin: auto;
    display: none;
}

@media screen and (max-width: 768px){
    .burguer-menu{
        display: block;
    }
    .header-container{
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background-color: darkgray;
        flex-direction: column;
        /* transform: translateX(100%); */
    }
    .logo{
        display: none;
    }
}

.burguer-active{
    transform: translateX(0);
}